body {

	background-image: linear-gradient(to right top, #19b958, #00b08c, #00a3b0, #0092bd, #2f7fb3);
	color: #ffffff;
	text-align: center;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
;
}

h1 {
	margin: auto;
}

h1 img {
	width: 200px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.content {
	height: 1000px;
}

.nav {
	background-color: #222222;
	padding:20px;
	font-size: 25px;
	margin-bottom: 15px;
}

.nav a {
	padding: 20px;
	color: #ffffff;
	text-decoration: none;
}

.nav a:hover {
	font-weight: bold;
	color: #ffffff;
}

.nav .active {
	color: #EEFC46;
	font-weight: bold;
}

.fortnite {
	margin: auto;
	max-width: 1070px;
}


.fortnite .item {
	width: 200px;
	height: 400px;
	float: left;
	margin: 2px;
	position: relative;
	box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.50);
}

.fortnite .bundle {
	width: 414px;
}

.fortnite .item img {
	max-width: 100%;
	max-height: 400px;
	float: left;
}

.fortnite .item img:nth-of-type(n+2) {
    width: 50px;
    position: absolute;
    top: -2px;
    right: -2px;
    border: 1px solid #000000;
}

.fortnite .item img:nth-of-type(2) {
    top: -2px;
}

.fortnite .item img:nth-of-type(3) {
    top: 48px;
}

.fortnite .item img:nth-of-type(4) {
    top: 98px;
}

.fortnite .item img:nth-of-type(5) {
    top: 148px;
}



.fortnite .item h2 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0,0,0, .5);
	padding: 50px 0;
	font-size: 25px;
}

.fortnite .item p {
	position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.fortnite .rare {
	background-image: radial-gradient(circle, #6b9ed4, #5785bc, #446da4, #31558c, #1e3f75);
	border: 5px solid #5FA2DD;
}

.fortnite .legendary {
	background-image: radial-gradient(circle, #cd8050, #b66e44, #9f5c39, #894b2d, #733a22);
	border: 5px solid #B8774F;
}

.fortnite .uncommon {
 	background-image: radial-gradient(circle, #73a84c, #5f9141, #4c7b36, #3a652b, #2a5020);
 	border: 5px solid #7DAB54;
}

.fortnite .epic {
	background-image: radial-gradient(circle, #a867d9, #965dc9, #8553b9, #744aaa, #64409a);
	border: 5px solid #9464C4;
}

.fortnite .legendary img:nth-of-type(n+2) {
	background-image: radial-gradient(circle, #cd8050, #b66e44, #9f5c39, #894b2d, #733a22);
	border: 2px solid #B8774F;
}

.fortnite .rare img:nth-of-type(n+2) {
	background-image: radial-gradient(circle, #6b9ed4, #5785bc, #446da4, #31558c, #1e3f75);
	border: 2px solid #5FA2DD;
}

.fortnite .uncommon img:nth-of-type(n+2) {
	background-image: radial-gradient(circle, #73a84c, #5f9141, #4c7b36, #3a652b, #2a5020);
	border: 2px solid #7DAB54;
}

.fortnite .epic img:nth-of-type(n+2) {
	background-image: radial-gradient(circle, #a867d9, #965dc9, #8553b9, #744aaa, #64409a);
	border: 2px solid #9464C4;
}

.content .itemshop {
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 10px;
}

.content .minecrafttitle {
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 10px;
}
